.classA {
    width: 100%;
    overflow: hidden;
    height: 380px;
}

.classB {
    width: 100%;
    overflow: hidden;
    height: 480px;
}

.classC {
    width: 100%;
    overflow: hidden;
    height: 480px;
}

.classD {
    width: 100%;
    overflow: hidden;
    height: 480px;
}

.photo-sm {
    width: 100%;
    height: 380px;
    background-color: lightblue;
    overflow: hidden;
    margin-top: 20px;
}

.photo-big {
    width: 100%;
    height: 480px;
    overflow: hidden;
    background-color:lightsalmon;
    margin-top: 20px;
}


.photo-column{
    background-color: lightsalmon;
    height:900px;
}
#photo-gallery{
    background-color: lightseagreen;
    height: 900px;
}


@media (min-width: 575.98px){
    .video{
        margin-top: 20px;
        width:100%;
        height:400px;
    }
}
@media (min-width: 767.98px){
    .video{
        margin-top: 20px;
        width:100%;
        height:600px;
    }
}
@media (min-width: 991.98px){
    .video{
        margin-top: 20px;
        width:100%;
        height:800px;
    }
}